##core packages
numpy>=1.19.2
ipython
jupyter
pandas
scikit-learn
scikit-image
seaborn
matplotlib
pydot
opencv-python
opencv-contrib-python
librosa
tqdm
transformers>=v3.4.0
tokenizers
requests>=2.21.0
nlpaug>=1.0.1
nlp
tensorflow-probability
spacy
scispacy


## extras packages
apache-beam
tensorflow-hub
tensorflow-text
tensorflow-addons
loguru
datashader
holoviews

# reinforcement learning packages
gym
tf-agents
tensorforce
stable-baselines

## miscs

# neural-structured-learning
# larq
# pyspark
# graphframes

