tensorflow_hub
# tensorflow-addons -> unitl py 3.8 is supported
neural-structured-learning
ipython
jupyter
pandas
scikit-learn
scikit-image
datashader
holoviews
seaborn
matplotlib
pydot
opencv-python
opencv-contrib-python
larq
librosa
tqdm
transformers>=2.4.1
requests>=2.21.0
keras-tuner>=1.0.0
gym
nlp
tf-agents
tensorforce
tensorflow-probability
stable-baselines
tf-models-nightly

